.main-body {
  margin-top: 75px;
}
.details {
  background-color: grey;
  height: 85vh;
  width: calc(100% - 40px);
  overflow: auto;
  padding: 0 20px;
}
@media (max-width: 64em) {
  .details {
    height: 40vh;
  }
}
